<%- include('partials/header.ejs') %>
<script>
    function openDeleteModal(barbeiroId) {
        alert('Deseja realmente excluir este barbeiro?');
        fetch('/barbeiros/' + barbeiroId, {
            method: 'DELETE'
        }).then(() => {
            window.location.href = '/barbeiros';
        }).catch(err => {
            console.error(err);
        });
    }
</script>
<body>
    <%- include('partials/navbar.ejs') %>
    <div class="container">
        <h1 class="mt-3">Barbeiros</h1>
        <a href="/barbeiros/add" class="btn btn-primary">Novo Barbeiro</a>
        <table class="table m-3 p-3">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Telefone</th>
                    <th scope="col">Email</th>
                    <th scope="col">Ações</th>
                </tr>
            </thead>
            <tbody>
                <% barbeiros.forEach(barbeiro => { %>
                    <tr>
                        <td><%= barbeiro.id %></td>
                        <td><%= barbeiro.nome %></td>
                        <td><%= barbeiro.telefone %></td>
                        <td><%= barbeiro.email %></td>
                        <td>
                            <a href="/barbeiros/<%= barbeiro.id %>/edit" class="btn btn-primary">Editar</a>
                            <button class="btn btn-danger" onclick="openDeleteModal(<%= barbeiro.id %>)">Excluir</button>
                        </td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
</body>
<%- include('partials/footer.ejs') %>